.header3 {
  position: absolute;
  top: 0;
  left: 320px;
  background-color: var(--color-black);
  width: 75px;
  height: 320px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.iphone-se-shop-child,
.logo-icon3 {
  position: absolute;
  top: 10px;
  left: 17px;
}
.logo-icon3 {
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.iphone-se-shop-child {
  border-radius: var(--br-4xs);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 51px;
  height: 51px;
}
.the-raccman-gallery3 {
  position: absolute;
  top: 24px;
  left: 80px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-bebas-neue);
  color: var(--color-white);
  display: inline-block;
  width: 175px;
  height: 24px;
}
.dennis-rockwell-11,
.kita-portrait-11,
.screenshot-2023-11-18-003613-11,
.yonora-bust-11 {
  position: absolute;
  top: 92px;
  left: 17px;
  width: 135px;
  height: 127px;
  object-fit: cover;
}
.dennis-rockwell-11,
.kita-portrait-11,
.yonora-bust-11 {
  left: 169px;
  width: 134px;
}
.kita-portrait-11,
.yonora-bust-11 {
  top: 299px;
  height: 183px;
}
.yonora-bust-11 {
  left: 16px;
  width: 135px;
}
.footer3 {
  position: absolute;
  top: 1239px;
  left: 320px;
  background-color: var(--color-black);
  width: 170px;
  height: 320px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.raccman1013 {
  position: absolute;
  top: 1313px;
  left: 70px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-forma-djr-micro);
  color: var(--color-white);
}
.deviantart-logo-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.deviantart-logo-23 {
  position: absolute;
  top: 1260px;
  left: 68px;
  width: 36px;
  height: 36px;
}
.instagram-logo-23,
.tumblr-logo-22 {
  text-decoration: none;
  position: absolute;
  top: 1259px;
  left: 141px;
  width: 37px;
  height: 37px;
}
.tumblr-logo-22 {
  top: 1260px;
  left: 215px;
  width: 36px;
  height: 36px;
}
.dahlas-vanderloth-1,
.navi-clothed-1 {
  position: absolute;
  top: 562px;
  left: 16px;
  width: 135px;
  height: 183px;
  object-fit: cover;
}
.dahlas-vanderloth-1 {
  left: 169px;
}
.gradient-box-icon {
  position: absolute;
  top: 219px;
  left: 13px;
  width: 143px;
  height: 71px;
}
.gradient-box-icon1,
.gradient-box-icon2 {
  position: absolute;
  top: 219px;
  left: 165px;
  width: 142px;
  height: 71px;
}
.gradient-box-icon2 {
  top: 482px;
}
.gradient-box-icon3,
.gradient-box-icon4,
.gradient-box-icon5 {
  position: absolute;
  top: 745px;
  left: 12px;
  width: 143px;
  height: 71px;
}
.gradient-box-icon4,
.gradient-box-icon5 {
  left: 165px;
}
.gradient-box-icon5 {
  top: 952px;
  left: 15px;
  width: 141px;
}
.gradient-box-icon6,
.gradient-box-icon7,
.gradient-box-icon8 {
  position: absolute;
  top: 1159px;
  left: 16px;
  width: 141px;
  height: 71px;
}
.gradient-box-icon7,
.gradient-box-icon8 {
  top: 952px;
  left: 166px;
}
.gradient-box-icon8 {
  top: 482px;
  left: 12px;
  width: 143px;
}
.fungal-man-print {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.usd {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.fungal-man-print-container {
  position: absolute;
  top: 230px;
  left: 17px;
  display: inline-block;
  width: 135px;
  height: 40px;
}
.dennis-rockwell-print-container,
.kita-the-satyr-container,
.yonora-wuson-print-container {
  position: absolute;
  top: 224px;
  left: 170px;
  display: inline-block;
  width: 135px;
  height: 52px;
}
.kita-the-satyr-container,
.yonora-wuson-print-container {
  top: 486px;
  left: 16px;
  white-space: pre-wrap;
}
.kita-the-satyr-container {
  top: 488px;
  left: 168px;
  height: 50px;
}
.dahlas-vanderloth-print-container,
.the-navi-print-container {
  position: absolute;
  top: 756px;
  left: 16px;
  display: inline-block;
  width: 135px;
  height: 40px;
}
.dahlas-vanderloth-print-container {
  top: 751px;
  left: 168px;
  height: 50px;
}
.iphone-se-shop-child1,
.iphone-se-shop-inner,
.iphone-se-shop-item {
  position: absolute;
  top: 825px;
  left: 19px;
  background-color: var(--color-black);
  width: 133px;
  height: 127px;
}
.iphone-se-shop-child1,
.iphone-se-shop-inner {
  top: 1032px;
  left: 20px;
}
.iphone-se-shop-child1 {
  top: 825px;
  left: 170px;
}
.sold-out,
.sold-out1,
.sold-out2 {
  position: absolute;
  top: 909.8px;
  left: 33px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-bebas-neue);
  color: var(--color-white);
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.sold-out1,
.sold-out2 {
  top: 1116.8px;
  left: 34px;
}
.sold-out2 {
  top: 909.8px;
  left: 184px;
}
.character-sticker-pack-container,
.raccman-t-shirt-1999-container,
.raccoon-sticker-pack-container {
  position: absolute;
  top: 957px;
  left: 20px;
  display: inline-block;
  width: 131px;
  height: 54px;
}
.character-sticker-pack-container,
.raccman-t-shirt-1999-container {
  left: 171px;
}
.raccman-t-shirt-1999-container {
  top: 1171px;
  left: 21px;
  height: 40px;
}
.terms-of-service7 {
  position: absolute;
  top: 0;
  left: 31.97%;
  text-decoration: underline;
}
.terms-of-service6 {
  text-decoration: none;
  position: absolute;
  top: 1368px;
  left: 26px;
  width: 269px;
  height: 19px;
  color: var(--color-white);
}
.ham-menu-child5 {
  position: absolute;
  top: -7px;
  left: -6px;
  background-color: var(--color-white);
  width: 42px;
  height: 42px;
}
.ham-menu-child6,
.ham-menu-child7,
.ham-menu-child8 {
  position: absolute;
  height: 18.52%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 81.48%;
  left: 0;
  background-color: var(--color-black);
}
.ham-menu-child7,
.ham-menu-child8 {
  top: 40.74%;
  bottom: 40.74%;
}
.ham-menu-child8 {
  top: 81.48%;
  bottom: 0;
}
.ham-menu2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 24px;
  left: 272px;
  width: 30px;
  height: 27px;
}
.iphone-se-shop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1409px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-arial);
}
.menu-button1 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.menu-button,
.menu-button2,
.menu-button4,
.menu-button6 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  z-index: 0;
  color: inherit;
}
.menu-button2,
.menu-button4,
.menu-button6 {
  z-index: 1;
}
.menu-button4,
.menu-button6 {
  z-index: 2;
}
.menu-button6 {
  z-index: 3;
}
.menu-child {
  position: absolute;
  top: 3px;
  left: -6px;
  background-color: #bababa;
  width: 42px;
  height: 42px;
}
.menu-inner,
.menu-item {
  position: absolute;
  height: 18.52%;
  width: 100%;
  top: 44.44%;
  right: -18.33%;
  bottom: 37.04%;
  left: 18.33%;
  background-color: var(--color-black);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.menu-inner {
  top: 123.33%;
  right: -8.67%;
  bottom: -41.85%;
  left: 8.67%;
  transform: rotate(-45deg);
}
.menu {
  position: absolute;
  margin: 0 !important;
  top: -45px;
  left: 194px;
  width: 30px;
  height: 27px;
  z-index: 4;
}
.nav {
  position: relative;
  background-color: var(--color-white);
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-forma-djr-micro);
}
